# Heavy Data
*.csv
*.log
*.pkl
*.json
*.jsonl
*.pt
*.parquet
# Python cache files
__pycache__/
*.py[cod]
*$py.class
# Benchmark sources
Benchmark/benchmark_sources/
Benchmark/DeepTTA/
Benchmark/GraphDRP/
Benchmark/our_data/
Benchmark/PaccMann/
